<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-skull-crossbones fa-6x"></i>
    <h1 class="display-3">Final step to Hell</h1>
    <p class="secret-text">Think Before you add name, beacause its DEATH NOTE</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="Kill List"?">
      </div>
      <button type="submit" class="btn btn-dark">KILL</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
